@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #DAE0E6;
}

.btn{
    @apply bg-blue-500 font-semibold text-sm cursor-pointer text-white px-4 py-2 rounded-full mt-3
}

.googlebtn{
    @apply bg-transparent font-semibold text-sm cursor-pointer text-black border border-gray-300 px-4 py-2 rounded-full mt-1.5
}

.formInput {
    @apply w-full rounded-md border outline-none bg-gray-100 border-gray-200 py-2 px-3 placeholder-gray-500 text-sm hover:bg-white hover:border-blue-500  focus:bg-white focus:border-blue-500
}